@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

  

body {
    font-family: 'Pretendard-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: white;
    padding-top: 15vh;
}

/* Header */
header {
    font-family: 'Freesentation-9Black';
    text-align: center;
    background-color: rgb(221, 237, 253);
    position: fixed;
    height: 15vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 1vh;
}

.header-container h1 {
    font-weight: 600;
    letter-spacing: -0.08vw;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button {
    padding: 2vh 2vw;
    font-weight: 600;
    font-size: 1.5em;
    color: #169ae7;
    border-radius: 0.25vw;
    transition: box-shadow 0.7s ease;
}

/* 버튼에 마우스를 올렸을 때 */
.header-button:hover {
    box-shadow: 0 0.8vh 1.6vh rgba(0, 0, 0, 0.2);
}

/* Containers */

#main-container {
    width: auto;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-container {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    padding: 15vh 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 7vh;
    color: black; 
}

/* 스타일 */
.deco {
    font-size: 2.0em;
    font-weight: 600;
}

.name {
    font-size: 3.0em;
    font-weight: bolder;
}

.sky {
    color: #169ae7;
}

.carezone {
    color: #A6D608;
}

.sky2 {
    color: #0f7ac2;
    font-family: 'Freesentation-9Black';
}

.carezone2 {
    color: #89b600;
    font-family: 'Freesentation-9Black';
}

.green {
    color: #6B8E23;
}

.red {
    color: rgb(255, 0, 0);
}

a {
    text-decoration: none;
}

/* section1 */
#section1 {
    background-color: white;
}

#sec1-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 6vw;
    padding-top: 8.5vh;
    padding-bottom: 5vh;
    width: 65%;
}

#sec1-info p {
    margin: 10vh 0;
    font-size: 1.2em;
    font-weight: 600;
}

#num {
    padding-left: 6vw;
    background-color: rgb(0, 119, 254);
    color: white;
    font-size: 1.7em;
    font-weight: bold;
}


/* section2 */

#section2{
    background-color: #eaeaea;
}

#sec2-info {
    margin-top: 3vh;
    text-align: center;
}

#sec2-info p {
    font-size: 1.2em;
    font-weight: 500;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1vw solid #ddd;
    border-radius: 0.5vw;
    background-color: white;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 40%;
}

.sub-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
}

.sub-content .sub-content-image {
    width: 100%;
    height: auto;
}

.sub-content-text {
    text-decoration: none;
}

.sub-content-text h2 {
    text-align: center;
}

/* section 3 */

#section3 h1{
    text-align: center;
    font-family: 'LINESeedKR-Bd';
    margin-bottom: 0;
}

#review-container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#review-list {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

#review-list img {
    width: 50%;
    height: auto;
}



/* section 4 */

#section4 {
    height: 50vh;
}

#section4 #text-container {
    width: 50%;
    height: 100%;
    background-image: url('../img/contact1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#section4 #text-container .plate {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section4 h1 {
    position: absolute;
    color: white;
    padding: 20px;
}

#section4 .contact-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#section4 .contact-container .contact-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 10px;
}

#section4 .contact-container .contact-list a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section4 .contact-container .contact-list .center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6B8E23;
}


/* sub-page */

.semi-header {
    margin: 0 0;
    width: 100%;
    background-color: #00246B;
}

.semi-header h1 {
    margin-left: 10vw;
    color: white;
}

.container-sub {
    margin: 0 10vw;
    width: 80%;
}

.step {
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.warning {
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
}

.warning h2 {
    margin-bottom: 0;
}

.warning h3 {
    margin-bottom: 0;
}

.warning p {
    font-size: 1.2em;
    font-weight: 300;
}

.warning ul {
    margin: 0;
    font-size: 1.2em;
}

.container-sub h1 {
    margin-bottom: 0;
}

.image-container {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Before-After */

.before-after {
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 2vw;
}

.before-after h1 {
    width: 100%;
}

.before-after h2 {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.before-after .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 가로 2열 */
    width: 80%;
    gap: 10px; /* 이미지 간격 */
}

.before-after .photo-grid img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Footer */

footer {
    background-color: #333;
    color: #ccc;
    text-align: left;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 1001;
}

footer p {
    padding-left: 10vw;
}

strong {
    color: #eee; 
    font-size: 1.2em;
}

/* Sdiebar */

.sidebar {
    height: 100vh;
    width: 15vw;
    position: fixed;
    top: 15vh;
    left: 0;
    background-color: #444;
    padding-top: 10vh;
    z-index: 1000;
}

.sidebar a {
    padding: 2vh 2vw; 
    font-size: 1.5em;
    color: #fff;
    display: block;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #169ae7;
}