@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


body {
    font-family: 'Pretendard-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: white;
}

/* Header */
header {
    font-family: 'Freesentation-9Black';
    text-align: center;
    background: linear-gradient(to bottom, #E0F7FA, #ffffff);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 0;
}

.header-container h1 {
    font-weight: 600;
    letter-spacing: -1.5px;
}

/* Containers */

.left-container {
    width: 70%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.container h1 {
    text-align: left;
    margin-bottom: 10px;
    color: black; 
}





/* stuff */
.deco {
    font-size: 1.3em;
    font-weight: 600;
}

.name {
    font-size: 1.7em;
    font-weight: 800;

}

.sky {
    color: #169ae7;
}

.carezone {
    color: #A6D608;
}

.sky2 {
    color: #0f7ac2;
}

.carezone2 {
    color: #89b600;
}


.green {
    color: #6B8E23
}

a {
    text-decoration: none;
}


/* section1 */
#section1 {
    background-image: url('../img/scz.jpg');
    background-size: cover;

}

#sec1-info {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 85px;
    padding-bottom: 0px;
    width: 62.5%;
}


#sec1-info #sec1-text {
    text-align: left;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.7);;
}

#sec1-info #sec1-text p {
    font-size: 1.1em;
    font-weight: 600;
}

#num {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0;
    padding-bottom: 70px;
    width: 62.5%;
    text-align: center;
}

#num p {
    margin-top: 0;
    background-color: rgb(46, 99, 232);
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    width: 100%;
}


/* section2 */
#section2 h1{
    margin-bottom: 30px;
}

#sec2-info {
    margin-top: 30px;
    text-align: center;
}

#sec2-info p {
    font-size: 1.2em;
    font-weight: 500;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 40%;
}

.sub-content:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.sub-content .sub-content-image{
    width: 100%;
    height: auto;
}

.sub-content-text{
    text-decoration: none;
}

.sub-content-text h2 {
    text-align: center;
}

.sub-content-text p {
    padding: 10px 10px;
}

/* sub-page */

.semi-header {
    margin: 0 0;
    width: 100%;
    background-color: #3cd1d1;
}

.semi-header h1 {
    margin-left: 12%;
    color: white;
}

.container-sub {
    margin: 0 15%;
}

.step{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
}

.warning{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
}

.warning h2 {
    margin-bottom: 0;
}

.warning h3 {
    margin-bottom: 0;
}

.warning p {
    font-size: 1.2em;
    font-weight: 300;
}


.container-sub h1 {
    margin-bottom: 0;
}

.image-container{
    width: 100%;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

footer {
    background-color: #333;
    color: #ccc;
    text-align: left;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    padding-left: 10%;
}

strong {
    color: #eee; 
    font-size: 1.2em;
}

/* Before-After */

.before-after {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px auto;
}

/* Navigation */
.nav-container {
    position: fixed;
    top: 130px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #0050c1;
    color: white;
    font-size: 0.7em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button.main {
    background-color: #0050c1;
}

.nav-button.hidden {
    display: none;
}

.nav-button.visible {
    display: block;
}

.nav-button:hover {
    transform: scale(1.1);
    background-color: #4FC3F7; 
}